<div class="wrapper">
  <mat-dialog-content>
    <h2>{{ album?.name }}</h2>
    <h3>{{ album.tracks.length }} tracks</h3>
    <div class="buttons">
      <button mat-stroked-button (click)="playAll()" [disabled]="!album?.tracks">Play All</button>
      <button mat-stroked-button (click)="shuffleAll()" [disabled]="!album.tracks">Shuffle All</button>
      <button mat-stroked-button (click)="goToArtist()">Artist Details</button>
    </div>
    <div class="table-wrapper">
      <table
        mat-table
        class="track-table"
        [dataSource]="album?.tracks"
        matSort
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
        </ng-container>
        <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
          <td mat-cell *matCellDef="let element">{{ element.artist }}</td>
        </ng-container>
        <ng-container matColumnDef="album">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-align-right">Album</th>
          <td mat-cell *matCellDef="let element">{{ element.album }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'artist', 'album']; sticky: true"></tr>
        <tr
          mat-row
          class="clickable-row"
          *matRowDef="let row; columns: ['name', 'artist', 'album']"
          (click)="playOne(row)"
        ></tr>
      </table>
      <div *ngIf="album?.tracks === undefined || album?.tracks === null || album?.tracks.length === 0" class="no-tracks">
        <h2>Album has no tracks</h2>
      </div>
    </div>
  </mat-dialog-content>
</div>
